.s-form {
	position: relative;
	top: -3px;
	display: flex;
	flex-direction: column;
	flex: 0 0 406px;
	text-align: center;
	&__title {
		margin-bottom: 30px;
	}
	&__group {
		display: flex;

		input {
			flex: 0 0 340px;
			padding: 13px 24px;
			border: 0;

			&::placeholder {
				color: $text-color;
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 20px;
				opacity: 0.5;
			}
		}
		svg {
			width: 17px;
			height: 13px;
		}
	}
}
