include mixins.pug
doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        block title
            title Webdev
        link(rel="stylesheet", href="style.css")

    body
        .page

            block content
